/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply styles to the body */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) url("photo/signup-bkg.webp");
    background-size: cover;
    font-family: sans-serif;
}

/* Style the form container */
.signup-form {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 50%;
}

/* Style form elements */
.signup-form h1 {
    margin-bottom: 20px;
    color: #333;
}

.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form input[type="tel"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    background-color: #088178;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #065a5e;
}
